<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help</title>
    <link rel="shortcut icon" href="../static/fab_icon.png" type="image/x-icon">
    <style>
        body{
            font-family: Arial, Helvetica, sans-serif;
        }
        p{
            font-weight: bold;
            font-size: 18px;
        }
        h1{
            text-decoration: underline;
            color: blue;
        }
    </style>
</head>
<body>
    <h1>How To Create Game</h1>
    <p>Click on create game to create new game fill the details copy the id given in format(xxxxxxxx-xx...) and send it to the person with who you gonna play.</p>
    <h1>How to Join Game</h1>
    <p>Click on join fill the entry in 'ID to connect' put the ID that you recieved.</p>
    <h1>Replay</h1>
    <p>When a game finish then you see results and also at bottom of result you see a Replay option by click it the hoster of game can reset the game where connection ID will be same as old but chances can be change once hoster clicked on replay option then the you can join the game by click replay option.</p>
</body>
</html>